
@using Microsoft.EntityFrameworkCore.Metadata.Internal
@using OdeToFood.ViewModels
@model HomePageViewModel

<html>
    <head>
        <title>OdeToFood</title>
    </head>
<body>
<h1>Restaurants List!</h1>
    <h3>@Model.CurrentMessage</h3>
<table>
    @foreach (var restaurant in Model.Restaurants)
    {
        <tr>
            <td>@restaurant.Id</td>
            <td>
                @Html.ActionLink(@restaurant.Name, "Details", new {  id = restaurant.Id})
            </td>
        </tr>
    }
</table>

</body>
</html>